.button {
  cursor: pointer;
  top: 252px;
  left: 1158px;
  width: 100vw;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #286dbf;
  color: #e4e4e4;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: none;
}

.input {
    top: 339px;
    left: 496px;
    width: 354px;
    height: 65px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #a9a5a5;
    color: #212121;
    font-size: 16px;
    line-height: 20px;
    outline: solid gray;
  }

form{
    height: 100vh;
    margin: 0;
    padding: 30px;
    padding-left: 0px;
}

.form-group{
    padding: 30px;
    padding-left: 0px;
}


.dropdown {
    cursor: pointer;
    top: 518px;
    left: 116px;
    width: 338px;
    height: 36px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(3,3,3,0.1);
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    line-height: 16px;
    outline: none;
  }

select, input {
    width: 120px; 
    padding: 8px;
    box-sizing: border-box;
} 

#name_ID{
  display: flex;
}

#description{
  height: 30%;
  width: 100%;
}


