* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-side {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-side li {
  margin-right: 15px; /* Adjust as needed for spacing between items */
}

.left-side {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-side li {
  margin-right: auto; /* Push the "Logout" link to the left */
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: black;
  border: 2px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.image_container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 505px;
  background-image: url("https://i.postimg.cc/c4XFQq9p/temp-Images-Bo-RWc.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-text{
  color: white;
  padding-top: 100px;
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 100%; 
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.search_wrap .search_box {
  position: relative;
  width: 500px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #9acd31;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: #9acd31;
}

.search_wrap .search_box .btn.btn_common .bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.second-section {
  top: 505px;
  left: -5px;
  width: 100%;
  height: 354px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.second-section .event-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 7rem;
}

.second-section .event-container .event {
  top: 600px;
  left: 95px;
  width: 100%;
  height: 228px;
  text-align: center;
  background: #286dbf;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  justify-content: center;
}

.second-section .event-container .event:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.second-section .event-container .event img {
  width: 62px;
  height: 90px;
}

.container .event-container .event:hover img {
  transform: scale(0.9);
}

.second-section .event-container .event h3 {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: black;
}

.second-section .event-container .event:hover h3 {
  color: black;
}

.review-title{
  padding-left: 40px;
}

.recent-review{
  top: 505px;
  left: -5px;
  width: 100%;
  height: 354px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

main.table {
  top: 505px;
  left: -5px;
  width: 100%;
  height: 354px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;

  overflow: hidden;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr td{
  text-align: center;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #286dbf !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

/* .status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
} */


@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

/* thead th:hover span.icon-arrow{
  border: 1.4px solid #286dbf;
} */

thead th:hover {
  color: #286dbf;
}

/* thead th.active span.icon-arrow{
  background-color: #286dbf;
  color: #fff;
} */

/* thead th.asc span.icon-arrow{
  transform: rotate(180deg);
} */

thead th.active,tbody td.active {
  color: #286dbf;
}