* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-side {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-side li {
  margin-right: 15px; /* Adjust as needed for spacing between items */
}

.left-side {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-side li {
  margin-right: auto; /* Push the "Logout" link to the left */
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: black;
  border: 2px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.container {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  top: 285px;
  left: 137px;
  width: 100%;
  height: 529px;
  background-color: #ffffff;
}

.image-container {
  display: flex;
  justify-content: space-between;
  top: 105px;
  left: 1549px;
  width: 50%;
  height: 529px;
}

.small-img {
  width: 147px;
  height: 525px;
}

.small-img img {
  width: 153px;
  height: 166px;
}

.large-img {
  top: 104px;
  left: 1713px;
  width: 468px;
  height: 529px;
}

.large-img img {
  
}

/* .container {
    display: flex;
    padding-top: 50px;
}

#left-container, #right-container {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 0;
    overflow: hidden;
}

#left-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    height: auto;
}

#right-container {
    display:block;
    padding-left: 50px;
}

#small, #big{
    box-sizing: border-box;
    overflow: hidden;
}

#small{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#big img{
    width: 100%;
    height: 85%;
}

#lecturer{
    display: flex;
    margin-top: 20px;
}

#profile{
    width: 10%;
    height: auto;
}

#lecturer p{
    margin: 0;
    font-size: 10pt;
}

#profile img{
    max-width: 100%;
}

#reviewdetails{
    margin-top: 30px;
    margin-bottom: 20px;
}

#arrows{
    margin-top : 30px;
}

#rightbtn{
    margin-left: 80%;
}

.button img, #arrows img{
    height: 30px;
}
 */
