<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='createreviewStyle.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create Review</title>

  </head>
  <body>
    <nav class="grey">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left">
            <li ><a href="/" style="color: black;">Review</a></li>
            <li><a href="/" style="color: black;">Account</a></li>
            <li><a href="/" style="color: black;">Home</a></li>
            </ul>
          </ul>
          <ul id="nav-mobile" class="right">
            <li><a href="/logout" style="color: black;">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" id="content">
        <h1>Create Review</h1>

        <form>
            <div id="name_ID">
                <div class="form-group">
                    <label for="lecturerName">Lecturer Name:</label>
                    <input type="text" id="lecturerName" name="lecturerName" placeholder="Enter lecturer name" style="background-color: #a9a5a5;">
                    
                </div>

                <div class="form-group">
                    <label for="studentID">Student ID:</label>
                    <input type="text" id="studentID" name="studentID" placeholder="Student ID" style="background-color: #a9a5a5;">
                </div>
            </div>   

            <!-- <label for="review-type">Type of review</label> -->
            <select name="review-type" id="review-type">
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
            </select>

            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Enter review" style="background-color: #a9a5a5;">
               
            <div id="button">
              <button onclick="openNewReview()">New Review</button>
          </div>
        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>

