{% extends "layout.html" %}
{% block additional_css%}<link rel="stylesheet" href="{{ url_for('static', filename='listoverview.css') }}">{%endblock%}
{% block title %}List Overview{% endblock %}

{{ super() }}

{% block content %}
<div id="lecturer">
    <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" alt="Profile">
    <p>John Doe</p>
</div>
<div id="button">
    <button onclick="openNewReview()">New Review</button>
</div>
<table>
    <thead>
        <tr>
            <th>Review Type</th>
            <th>Student ID</th>
            <th>Created on</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Positive</td>
            <td>81234567</td>
            <td>03 March 2023</td>
        </tr>
        <tr>
            <td>Positive</td>
            <td>81234567</td>
            <td>03 March 2023</td>
        </tr>
        <tr>
            <td>Positive</td>
            <td>81234567</td>
            <td>03 March 2023</td>
        </tr>
    </tbody>
    

{%endblock%}